= render(:partial => 'shared/errors', :locals => {:object => @product})
= form_for(@product, :class => "form-horizontal", :role => "form") do |f|
  %div{:class => "form-group"}
    %label Title
    = f.text_field :title, :placeholder => "Title", :class => "form-control"
  %div{:class => "form-group"}
    %label Description
    = f.text_area :description, :placeholder => "Description", :class => "form-control", :rows => 10
  %div{:class => "form-group"}
    %label Price
    = f.text_field :price, :placeholder => "Price", :class => "form-control"
  = f.submit
