%h1 Products Listing

%table{:class => "table table-condensed table-striped"}
  %thead
    %tr
      %th Title
      %th Description
      %th Price
      %th Links
  %tbody
    - @products.each do |product|
      %tr
        %td= product.title
        %td= raw product.description
        %td= number_to_currency product.price, :precision => 2
        %td= link_to('Show', product_path(product))

%div
  = link_to('New Product', new_product_path)
